* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    padding: 20px;
    height: 100vh;
}

ul {
    list-style: none;
    padding: 0;
}

a {
    color: #1e90ff;
    text-decoration: none;
}

li {
    color: white;
}

nav {
    color: #333333 !important;
}